{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 6, "knowledge_revision": 14, "git_revision": "", "hash": "6d12f2d564c42977c1f1e899ff06b86b", "format-version": 4, "code-base-name": "default", "filename": "notes_api_backend_workspace/notes_api_backend/requirements.txt", "revision_history": [{"14": ""}]}